{% extends "base.html" %}
{% load staticfiles %}
{% load compressed %}
{% block title %}All expenses{% endblock title %}
{% block content %}
{% load l10n %}
{% compressed_css 'table' %}
<section id="cd-table">

    <div class="cd-table-container">
        <div class="cd-table-wrapper">

            {% for expense in all_expenses %}
            <div class="cd-table-column">
                <h2>{{ expense.paid|date:"Y-m-d (l)"|localize }}</h2>
                <ul>
                    <li>{{ expense.beauty_string }}</li>
                </ul>
            </div>
            {% endfor %}

            {{ request.is_secure }}


        </div> <!-- cd-table-wrapper -->
    </div> <!-- cd-table-container -->

    <em class="cd-scroll-right"></em>
</section>
{% endblock %}
