{% load staticfiles %}
{% load compressed %}
<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='//fonts.googleapis.com/css?family=Titillium+Web:400,600,700' rel='stylesheet' type='text/css'>

    {% compressed_css 'reset' %} 
    {% compressed_css 'style' %} 
    {% compressed_js 'modernizr' %} 

    <title>{% block title %}WatchMyWallet{% endblock title %}</title>
  </head>
  <body>
    <header>
    <a id="cd-logo" href="#0"><img src="{% static 'img/cd-logo.svg' %}" alt="Homepage"></a>
    {% include "top_nav.html" %}
    <a id="cd-menu-trigger" href="#0"><span class="cd-menu-text">Menu</span><span class="cd-menu-icon"></span></a>
    </header>
    {% include "nav.html" %}

    <main class="cd-main-content"> 
    {% block content %}{% endblock %} 
    </main> 

    {% compressed_js 'jquery' %}
    {% compressed_js 'main' %}
  </body>
</html>
