<nav id="cd-lateral-nav">
<ul class="cd-navigation">
  <li class="item-has-children">
  <a href="#0">Categories</a>
  <ul class="sub-menu">
    {% for category in all_categories %}
    <li><a href="#0">{{ category.name }}</a></li>
    {% endfor %}
  </ul>
  </li>

  <li class="item-has-children">
  <a href="#0">Reports</a>
  <ul class="sub-menu">
    <li><a href="#0">Weekly</a></li>
    <li><a href="#0">Monthly</a></li>
    <li><a href="#0">Yearly</a></li>
  </ul>
  </li>

  <li class="item-has-children">
  <a href="#0">Shopping list</a>
  <ul class="sub-menu">
    <li><a href="#0">Create New</a></li>
    <li><a href="#0">List</a></li>
    <li><a href="#0">Archive</a></li>
  </ul>
  </li>
</ul>

<ul class="cd-navigation cd-single-item-wrapper">
  <li><a href="#0">Options</a></li>
  <li><a href="#0">Push alarm</a></li>
  <li><a href="#0">Logout</a></li>
</ul>

<div class="cd-navigation socials">
  <a class="cd-twitter cd-img-replace" href="#0">Twitter</a>
  <a class="cd-github cd-img-replace" href="#0">Git Hub</a>
  <a class="cd-facebook cd-img-replace" href="#0">Facebook</a>
  <a class="cd-google cd-img-replace" href="#0">Google Plus</a>
</div>
</nav>
