<nav id="cd-lateral-nav">
<ul class="cd-navigation">
  <li class="item-has-children">
  <a href="#0">Categories</a>
  <ul class="sub-menu">
    <li><a href="#0">Brand</a></li>
    <li><a href="#0">Web Apps</a></li>
    <li><a href="#0">Mobile Apps</a></li>
  </ul>
  </li>

  <li class="item-has-children">
  <a href="#0">Expenses</a>
  <ul class="sub-menu">
    <li><a href="#0">Product 1</a></li>
    <li><a href="#0">Product 2</a></li>
    <li><a href="#0">Product 3</a></li>
    <li><a href="#0">Product 4</a></li>
    <li><a href="#0">Product 5</a></li>
  </ul>
  </li>

  <li class="item-has-children">
  <a href="#0">Shopping list</a>
  <ul class="sub-menu">
    <li><a href="#0">London</a></li>
    <li><a href="#0">New York</a></li>
    <li><a href="#0">Milan</a></li>
    <li><a href="#0">Paris</a></li>
  </ul>
  </li>
</ul>

<ul class="cd-navigation cd-single-item-wrapper">
  <li><a href="#0">Options</a></li>
  <li><a href="#0">Push alarm</a></li>
  <li><a href="#0">Logout</a></li>
</ul>

<div class="cd-navigation socials">
  <a class="cd-twitter cd-img-replace" href="#0">Twitter</a>
  <a class="cd-github cd-img-replace" href="#0">Git Hub</a>
  <a class="cd-facebook cd-img-replace" href="#0">Facebook</a>
  <a class="cd-google cd-img-replace" href="#0">Google Plus</a>
</div>
</nav>
